@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family:"Montserrat"; }
input {
	height: 40px;
	border: 1px solid #6f58ba;
	border-radius: 5px;
	padding-left: 20px;
}
input:focus {
	outline: none;
	border: 1px solid #201543;
}
.outlined-btn {
	color: #302550;
	border: 1px solid #302550;
	padding: 10px, 20px;
	height: 40px;
	border-radius: 5px;
	text-transform: uppercase;
}
.contained-btn {
	background-color: #302550;
	color: white;
	padding: 5px, 20px;
	height: 40px;
	border-radius: 5px;
	text-transform: uppercase;
}
